
.header {
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}


.nav-links a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}


.nav-links a:hover {
    background-color: #007BFF;
    color: #ffffff;
}
