


.hero {
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/random/1920x1080?house'); */
    background-size: cover;
    height: 70vh;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn {
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: #007BFF;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 1rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.hero {
    position: relative;
    height: 70vh;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%; 
    display: flex;
    animation: slide 60s infinite;
}

.carousel img {
    flex: 1;
    width: 33.33%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    text-align: center;
    z-index: 1;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    33% { transform: translateX(-33.33%); }
    66% { transform: translateX(-66.66%); }
    100% { transform: translateX(0%); }
}


